.body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Snell Roundhand, cursive ;
    
}

.center-itens{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-itens2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links{
    text-decoration: none;
    color: #fdddc8 !important;
}

nav{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 10%;
    padding: 1px 8px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgb(253, 222, 200);
    display: flex;
    justify-content: space-between;
}

nav .logo{
    padding: 22px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fdddc8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul{
    list-style: none;
    margin: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    padding: 12px 40px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    
}

nav ul li a:hover {
    background: #371709;
    border-radius: 6px;
    color: #fff;
}

.nav-bar-compras{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(https://img.freepik.com/free-photo/wooden-wood-backgrounds-textured-pattern-wallpaper-concept_53876-14103.jpg?w=2000);
    background-size: revert;
    position: relative;

}
.section-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/scotch-distillery-scotland.jpg?w=1600&h=900);
    background-size: cover;
    background-position: center;
}
.section-banner-vwndas{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/free-photo/wooden-wood-backgrounds-textured-pattern-wallpaper-concept_53876-14103.jpg?w=2000);
    background-size: cover;
    background-position: center;

}

.section-banner-information{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/scotch-distillery-scotland.jpg?w=1600&h=900);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    align-items: center;
}
.container-sinnup{
    width: 35%;
}

.container-carrosel{
    position: relative;
    width: 100%;
    margin-top: -10px;
    height: 900px;
    overflow: hidden;
}

.h1{
    color: #fdddc8;
    font-size: 50px;
    font-family: initial !important;
} 

.h2{
color: #371709;
font-size: 26px;
font-family: Snell Roundhand, cursive !important;
}

.p{
    font-size: 24px;
    font-family: initial !important;
    margin: 20px;
    color: #371709;
}
.p1{
    font-size: 20px;
    font-family: Snell Roundhand, cursive !important;
    margin: 20px;
}

.descricao-texto{
    color: #fdddc8;
    font-size: 26px;
    text-align: center;
}
.descricao-texto1{
    color: #fdddc8;
}
.descricao-texto2{
    padding: 0px 200px 0px 0px;
}

.button-1{
    font-size: 21px;
    border-radius: 6px;
    padding: 10px 35px 10px 35px;
    border: none;
    background: #371709;
}

.button-1:hover{
    box-shadow: 0px 0px 8px 2px #fdddc8;

}

button a{
    color:black !important;
}

.video-div{
    width: 50%;
}

img {
    width: 100%;
}

.texto-div{
    width: 50%;
    padding: 15px;
    color: #371709;
}

.container-card{
    text-align: center;
    margin: 2%;
    width: 100%;
    color: #fff;
}
.imgproduto{
    width: 275px;
    height: 230px;

}
.div-text{
    height: 250px;
}

.div-video-infor{
    width: 100%;
}

.div-container-infor{
    font-family: Snell Roundhand, cursive !important;
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    padding: 15px;
}

